{% extends 'base.html' %}
{% block content %}
<div class="max-w-3xl mx-auto mt-10 bg-white p-6 rounded shadow">
    <h2 class="text-2xl font-bold mb-4">📨 Message complet</h2>

    <p><strong>Nom :</strong> {{ contact.first_name }} {{ contact.last_name }}</p>
    <p><strong>Email :</strong> {{ contact.email }}</p>
    <p><strong>Téléphone :</strong> {{ contact.phone_number }}</p>
    <p><strong>Reçu le :</strong> {{ contact.created_at|date:"d M Y H:i" }}</p>

    <div class="mt-6">
        <h3 class="text-lg font-semibold mb-2">Description :</h3>
        <p class="whitespace-pre-line">{{ contact.description }}</p>
    </div>

    
</div>
{% endblock %}
