{% extends "base.html" %}

{% block content %}
<div class="min-h-screen bg-gradient-to-r from-blue-500 to-indigo-600 flex items-center justify-center px-4">
  <div class="bg-white rounded-xl shadow-lg p-8 max-w-md w-full text-center">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Votre solde VisiteMoney</h1>

    <div class="flex items-center justify-center gap-3 mb-4">
      {% if user.profile_pic %}
        <img class="h-16 w-16 rounded-full object-cover border-2 border-purple-600"
             src="{{ user.profile_pic.url }}"
             alt="Profile Picture">
      {% else %}
        <img class="h-16 w-16 rounded-full object-cover border-2 border-gray-400"
             src="https://bootdey.com/img/Content/avatar/avatar7.png"
             alt="Default Profile Picture">
      {% endif %}
      <p class="text-gray-600 text-lg">
        Salut <span class="font-semibold text-indigo-600">{{ user.username }}</span>
      </p>
    </div>

    <div class="text-5xl font-extrabold text-indigo-700 mb-8">
      {{ solde }} <span class="text-2xl font-normal">$</span>
    </div>
    <p class="text-gray-500">Continuez à visiter des stores et liens pour augmenter votre solde !</p>

    <div class="mt-8 flex flex-col gap-4">
      <a href="{% url 'liste_invites' %}" 
         class="inline-block bg-indigo-600 hover:bg-indigo-700 text-white py-3 px-6 rounded-lg transition duration-300">
        Aller gagner
      </a>

      <a href="{% url 'confirmer_mot_de_passe' %}" 
         class="inline-block bg-green-600 hover:bg-green-700 text-white py-3 px-6 rounded-lg transition duration-300">
        Retirer mon argent via Mobile Money ou compte bancaire
      </a>
      <a href="{% url 'withdrawal_history' %}" 
      class="inline-block bg-indigo-600 hover:bg-indigo-700 text-white py-3 px-6 rounded-lg transition duration-300">
     Historique de retrait
   </a>
   <a href="{% url 'transfer_visitemoney' %}" 
   class="inline-block bg-indigo-600 hover:bg-indigo-700 text-white py-3 px-6 rounded-lg transition duration-300">
  Transfert ton solde à un(e) ami(e) 
</a>
    </div>
  </div>
</div>
{% endblock %}
